<header> 
    <nav>
        <ul id="menu">
            <li> <a href="/">Home</a> </li>  
            <li><a href="/cadastro">Register new pokemon</a></li>
        </ul>
        <img src="/css/PokéBall.icon.png" alt="">
    </nav>
</header>

