<header> 
    <nav>
        <ul id="menu">
            <li> <a href="/">Inicio</a> </li>  
            <li><a href="/cadastro">Cadastrar Pokemon</a></li>
        </ul>
        <img src="css/PokéBall.icon.png" alt="">
    </nav>
</header>

