<section id="formulario">
    <label for="numero">Numero</label>
    <input type="text" id="numero" name="numero">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    <label for="tipo">Tipo</label>
    <input type="text" id="tipo" name="tipo">
    <label for="imagem">Imagem</label>
    <input type="image" id="imagem" name="imagem">
</section>