*{
    padding: 0;
    margin: 0;
    font-family: roboto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 98,5vw;
    height: 8vh;
    background-color: #FF0000;
}

header nav {
    display: flex;
    align-items:flex-start;
    width: 100%; 
}

header img {
    display: flex;
    align-items: center;
    position: absolute;
    margin: auto 46%;   
}

ul#menu {
    display: flex; 
    list-style: none;
    text-align: left;
}

ul#menu li{
    padding: 0.7rem; /* Espaçamento entre os icones */
    font-size: 1.3rem;
}

ul#menu a{       /* Editar a cor dos links */
    color: #fff;
    text-decoration: none; /*tirar o sublinhado dos links */
}

ul#menu a:hover {
    color: black;
}

main{
    width: 100%;
    min-height: 86vh;
    background-image: url(../css/background_prairie_pokemon_screencapture_by_nemotrex_de8nlib-fullview.jpg);
    background-attachment: fixed;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    margin-top: 4rem;
    width: 20rem;
    box-shadow: 5px 5px 5px 2px #00000080;
    background-color: #ffffffb7;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    transition: 0.5s ease;
    cursor: pointer;
}

.cards a{
    text-decoration: none;
    color: black;
}

.card:hover {
    transform: scale(1.1);
}

.detalhes{
    margin-left: 10vw;
    width: 70%;
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.cardDetalhes{
    width: 20rem;
    box-shadow: 5px 5px 5px 2px #00000080;
    background-color: #ffffffb7;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.2rem;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.textodetalhes{
    text-align:left;
    padding: 0 2rem 0 2rem;
    font-size: 1.2rem;
}

.cad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0 0 1rem 0;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1rem;
    background-color: #ffffffb7;
    border-radius: 10px;
    width: 23rem;
    height: 28rem;
    padding: 1rem;
    margin-top: 4rem;
}

#tituloCadastro{
    margin-left: 7%;
}

form fieldset{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border: none;
    width: 2rem;
    height: 2rem;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo input[type="text"], .campo input[type="url"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

#buttonCad {
    display: flex;
    margin: 1rem auto 0 auto;
    font-size: 1.2em;
    background: #FF0000;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}

#buttonCad:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 6vh;
    background-color:  #FF0000;
    color: #fff;
    font-family: roboto;
    font-size: 0.7rem;
}

footer a{
    color: gray;
    text-decoration: none;
    font-size: 0.7rem;
}